/*

Pop-Pop's Best
www.pop-pops-best.com

Springsteen, Ross
rossspringsteen.wix.com/dare4design
ross.springsteen@gmail.com

=====Colors=====

Whiskey(tan)				#cda16e
Dingley(green)				#526d45
Indian Khaki(khaki)			#beb295
Coral Reef(khaki light)		#c2b69a
Punch(Red)					#d32f27

=====Fonts=====

"Open Sans Condensed", sans-serif;

*/

@font-face {
    font-family: mrearlbt_font;
    src: local(mrearlbt_font), url("../fonts/mrearlbt.ttf") format('opentype');
}
@font-face {
    font-family: mrearlbt_bold_font;
    src: local(mrearlbt_bold_font), url("../fonts/mrearlbt_bold.ttf") format('opentype');
}

/*-----General-----*/

body{
	background-color: #fbf9f3;
}
.wrapper{
	width: 960px;
	margin: 0 auto;
}

/*-----Header-----*/

header{
	position: relative;
}
h1{
	width: 960px;
	height: 223px;
	background: url(../images/header.jpg);
	text-indent: -9999px;
}
#ppb img{
	position: absolute;
	left: 15px;
	top: 20px;
}
header #img{
	width: 940px;
	margin: 0 10px;
}

/*-----Nav-----*/

nav ul{
	list-style: none;
	padding: 0;
}
nav ul li a{
	text-decoration: none;
	font: 28px "Open Sans Condensed", sans-serif;
	color: #526d45;
}
#navl{
	float: left;
	overflow: hidden;
	margin: -88px 0 0 5px;
}
#navl li{
	float: left;
}
#navr{
	float: right;
	overflow: hidden;
	margin: -88px 5px 0 0;
}
#navr li{
	float: left;
}

/*-----Body-----*/



/*-----Footer-----*/

footer ul{
	list-style: none;
	padding: 0;
	float: right;
	overflow: hidden;
}
footer ul li{
	float: left;
}
footer ul li a{
	text-decoration: none;
	font-family: "Open Sans Condensed", sans-serif;
}
