/*

Pop-Pop's Best
www.pop-pops-best.com

Springsteen, Ross
rossspringsteen.wix.com/dare4design
ross.springsteen@gmail.com

=====Colors=====

Whiskey(tan)				#cda16e
Dingley(green)				#526d45
Indian Khaki(khaki)			#beb295
Coral Reef(khaki light)		#c2b69a
Punch(Red)					#d32f27

=====Fonts=====

"Open Sans Condensed", sans-serif;
"Sue Ellen Francisco", cursive;
"Homemade Apple", cursive;
"Swanky and Moo Moo", cursive;
"Sintony", sans-serif;

=====@font-face=====*/

@font-face {
    font-family: "mrearlbt_font";
    src: url("../fonts/mrearlbt.ttf");
}
@font-face {
    font-family: "mrearlbt_bold_font";
    src: url("../fonts/mrearlbt_bold.ttf");
}
@font-face {
    font-family: "franklin_gothic_medium";
    src: url("../fonts/Franklin_Gothic_Medium.ttf");
}
@font-face {
    font-family: "franklin_gothic_book";
    src: url("../fonts/Franklin_Gothic_Book.ttf");
}

/*-----General-----*/

body{
	width: 1024px;
	margin: 0 auto;
	background: url(../images/extra_clean_paper_@2X.jpg);
}
.wrapper{
	width: 960px;
	margin: 0 auto;
}

/*-----Header-----*/

header{
	position: relative;
}
h1{
	width: 960px;
	height: 223px;
	background: url(../images/header.jpg);
	text-indent: -9999px;
	margin: 0;
	box-shadow: 0 5px 10px #282828;
}
#ppb img{
	position: absolute;
	left: 15px;
	top: 20px;
}

/*-----Nav-----*/

nav ul{
	list-style: none;
	padding: 0;
}
nav ul li a{
	text-decoration: none;
	font: 28px "Open Sans Condensed", sans-serif;
	color: #526d45;
}
nav ul li a:hover{
	text-decoration: none;
	font: 28px "Open Sans Condensed", sans-serif;
	color: #d32f27;
}
#navl{
	float: left;
	overflow: hidden;
	margin: -54px 0 0 5px;
}
#navl li{
	float: left;
	margin: 0 27px;
}
#navr{
	float: right;
	overflow: hidden;
	margin: -54px 5px 0 0;
}
#navr li{
	float: left;
	margin: 0 22px;
}

/*-----Content-----*/
/*-----Home-----*/

#img{
	width: 940px;
	height: 756px;
	margin: 0 auto 10px;
	background: url(../images/image.jpg);
	background-repeat: no-repeat;
}
#letter{
	width: 430px;
	margin: 3px 25px;
	padding: 12px 8px;
	background: url(../images/page.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#pin_left{
	width: 47px;
	height: 40px;
	background-image: url(../images/push_pin_left.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	margin: -30px 0 0 -28px;
}
#pin_right{
	width: 48px;
	height: 40px;
	background-image: url(../images/push_pin_right.png);
	background-repeat: no-repeat;
	background-position: right top;
	float: right;
	margin: -28px -38px 0 0;
}
#letterbod{
	width: 400px;
	margin: 0 auto;
	font: 20px "Swanky and Moo Moo", cursive;
}
#letterbod #sign{
	text-align: right;
	font: 22px "Homemade Apple", cursive;
}

/*-----News-----*/

#ncp_top{
	width: 640px;
	height: 113px;
	margin: 0 auto;
	background: url(../images/ncp_top.jpg);
	background-repeat: no-repeat;
}
#ncp_body{
	width: 640px;
	margin: 0 auto;
	background: url(../images/ncp_body.jpg);
	background-repeat: repeat-y;
}
#ncp_body h2{
	margin: 0 8px 18px;
	text-align: center;
	font: bold 28px "franklin_gothic_medium", helvetica, sans-serif;
}
#ncp_body h3{
	margin: 0 8px 13px;
	text-align: center;
	font: 17px "franklin_gothic_medium", helvetica, sans-serif;
}
#ncp_by{
	margin-left: 8px;
}
#ncp_body a{
	text-decoration: none;
	color: #526d45;
	font: 18px "franklin_gothic_book", helvetica, sans-serif;
}
#ncp_body a:hover{
	text-decoration: none;
	color: #d32f27;
	font: 18px "franklin_gothic_book", helvetica, sans-serif;
}
#ncp_body img{
	float: right;
	margin: 8px;
}
#ncp_article{
	margin: 0 8px;
	font: 15px "franklin_gothic_book", helvetica, sans-serif;
}
#ncp_article p{
	margin-bottom: 0;
}
#ncp_src{
	margin: 25px 25px 0 0;
	float: right;
}
#ncp_bottom{
	width: 640px;
	height: 73px;
	margin: 0 auto;
	background: url(../images/ncp_bottom.jpg);
	background-repeat: no-repeat;
}

/*-----Products-----*/



/*-----Resellers-----*/

#resellers_map{
	float: right;
}
.resellers_img{
	display: block;
	width: 280px;
	background: #232323;
}
#resellers section img{
	margin: 25px 15px;
	float: left;
	clear: left;
}
.resellers_info{
	width: 320px;
	float: left;
	margin: 3px 0 0 8px;
}
#Old_World_Food .resellers_info{
	width: 320px;
	float: left;
	margin: 3px 0 0 75px;
}
#Steves_Meats .resellers_img{
	margin-bottom: 20px;
}

/*-----Reviews-----*/



/*-----Contact-----*/

#contact_form{
	overflow: hidden;
}
#contact_form h2{
	margin: 18px 0 0 90px;
	font: 25px helvetica, sans-serif;
}
#contact_form p{
	margin: 9px 0 10px 100px;
	font: 13px helvetica, sans-serif;
}
#contact_form #reqmes{
	margin: 0 0 8px 418px;
	font: 10px helvetica, sans-serif;
	color: #d32f27;
}
#contact_form .reqpar{
	font: 17px "Sintony", sans-serif;
	color: #d32f27;
}
#contact_form label{
	display: block;
	width: 250px;
	text-align: right;
}
#contact_form input, #contact_form select, #contact_form textarea{
	float: left;
	margin: -21px 0 14px 265px;
}
#contact_form #fname, #contact_form #lname, #contact_form #address1, #contact_form #city, #contact_form #tel, #contact_form #email{
	width: 200px;
}
#contact_form #address2{
	width: 200px;
	margin-top: -14px;
}
#contact_form #message{
	width: 203px;
}
#contact_form .req{
	font: 17px "Sintony", sans-serif;
	color: #d32f27;
	float: left;
	margin: -25px 0 0 4px;
}
#contact_form #reset{
	display: block;
	width: 80px;
	margin: 40px 0 0 325px;
	font: 11px helvetica, sans-serif;
}
#contact_form #submit{
	display: block;
	width: 90px;
	height: 30px;
	margin: -20px 0 0 380px;
	border-radius: 8px;
}

/*-----Footer-----*/

footer{
	overflow: visible;
	clear: both;
	margin-top: 50px;
}
footer ul{
	width: 960px;
	height: 50px;
	list-style: none;
	padding: 0;
	float: right;
	overflow: hidden;
	margin: -35px 0 0;
	background: url(../images/footer.jpg);
	box-shadow: 0 -2.5px 10px #282828;
}
footer ul li{
	float: right;
	margin: 0 3px;
	font: 17px "Open Sans Condensed", sans-serif;
}
footer ul li a{
	text-decoration: none;
	color: #526d45;
}
footer ul li a:hover{
	color: #d32f27;
}
