/*

Pop-Pop's Best
www.pop-pops-best.com

Springsteen, Ross
rossspringsteen.wix.com/dare4design
ross.springsteen@gmail.com

=====Colors=====

Whiskey(tan)				#cda16e
Dingley(green)				#526d45
Indian Khaki(khaki)			#beb295
Coral Reef(khaki light)		#c2b69a
Punch(Red)					#d32f27

=====Fonts=====

"Open Sans Condensed", sans-serif;
"Homemade Apple", cursive;
"Swanky and Moo Moo", cursive;
"Sintony", sans-serif;

=====@font-face=====*/

@font-face {
    font-family: "mrearlbt_font";
    src: url("../fonts/mrearlbt.ttf");
}
@font-face {
    font-family: "mrearlbt_bold_font";
    src: url("../fonts/mrearlbt_bold.ttf");
}
@font-face {
    font-family: "franklin_gothic_medium";
    src: url("../fonts/Franklin_Gothic_Medium.ttf");
}
@font-face {
    font-family: "franklin_gothic_book";
    src: url("../fonts/Franklin_Gothic_Book.ttf");
}

/*-----General-----*/

html{
	height: 100%;
}
body{
	max-width: 1024px;
	min-width: 320px;
	font-size: 62.5%;
	margin: 0 auto;
	background: url(../images/extra_clean_paper_@2X.jpg);
	height: 100%;
}
.wrapper{
	width: 93.75%; /*--960px--*/
	margin: 0 auto -100px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	font-family: helvetica, sans-serif;
	position: relative;
}

/*-----Header-----*/

header{
	position: relative;
}
h1{
	width: 100%;
	height: 223px;
	background: url(../images/header.jpg);
	background-size: 100% 223px;
	text-indent: -9999px;
	margin: 0;
	box-shadow: 0 5px 10px #282828;
}
#ppb img{
	position: absolute;
	left: 1.5625%; /*--15px--*/
	top: 20px;
	width: 37.08333333%; /*--356px--*/
	height: 56px;
}

/*-----Nav-----*/

nav ul{
	list-style: none;
	padding: 0;
}
nav ul li a{
	text-decoration: none;
	font: 2.8em "Open Sans Condensed", sans-serif;
	color: #526d45;
}
nav ul li a:hover{
	text-decoration: none;
	font: 2.8em "Open Sans Condensed", sans-serif;
	color: #d32f27;
}
#navl{
	float: left;
	overflow: hidden;
	margin: -54px 0 0 .520833333%; /*--5px--*/
	width: 37.08333333%; /*--356px--*/
}
#navl li{
	float: left;
	margin: 0 7.3%;
}
#navr{
	float: right;
	overflow: hidden;
	margin: -54px .520833333% 0 0; /*--5px--*/
	width: 37.08333333%; /*--356px--*/
}
#navr li{
	float: left;
	margin: 0 6.3%;
}
#nav_current{
	border-bottom: 3px solid #beb295;
}
#nav_current a{
	color: #d32f27;
}
#nav_current a:hover{
	color: #c2b69a;
}

/*-----Content-----*/
/*-----Home-----*/

#img{
	width: 97.9166666667%; /*--940px--*/
	height: 400px;
	margin: 0 auto 10px;
	background: url(../images/ppb_cta.jpg);
	background-repeat: no-repeat;
	background-size: 100% 400px;
}
#letter{
	width: 46.875%; /*--450px--*/
	margin: 3px 1.5625%; /*--15px--*/
	padding: 12px .833333333%; /*--8px--*/
	background: url(../images/page.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 100% 653px;
	float: left;
}
#pin_left{
	width: 10.93023256%; /*--47px--*/
	height: 40px;
	background-image: url(../images/push_pin_left.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% 40px;
	float: left;
	margin: -30px 0 0 -3.7777777777778%; /*--17px--*/
}
#pin_right{
	width: 11.1627907%; /*--48px--*/
	height: 40px;
	background-image: url(../images/push_pin_right.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100% 40px;
	float: right;
	margin: -28px -3.77777777778% 0 0; /*--17px--*/
}
#letterbod{
	width: 93.02325581%; /*--400px--*/
	margin: 0 auto;
	font: 1.9em "Swanky and Moo Moo", cursive;
	margin-bottom: 5px;
}
#letterbod #sign{
	text-align: right;
	font: 1.4em "Homemade Apple", cursive;
	margin: 3px 3% 5px 0; /*--15px--*/
}
.fb_comments{
	width: 46.875%; /*--450px--*/
	height: 530px;
	overflow: hidden;
	float: right;
	margin: 8px 1.0416666667% 10px 0; /*--10px--*/
	background: url(../images/fb_comments.jpg);
	background-repeat: no-repeat;
	background-size: 100% 530px;
}

/*-----News-----*/

#ncp_top{
	width: 66.6666666667%; /*--640px--*/
	height: 113px;
	margin: 0 1.041666667%; /*--10px--*/
	background: url(../images/ncp_top.jpg);
	background-repeat: no-repeat;
	background-size: 100% 113px;
	float: left;
}
#ncp_body{
	width: 66.6666666667%; /*--640px--*/
	margin: 0 1.041666667%; /*--10px--*/
	background: url(../images/ncp_body.jpg);
	background-repeat: repeat-y;
	background-size: 100% 108px;
	overflow: hidden;
	float: left;
}
#ncp_body h2, #ncp_body h3{
	font-family: "franklin_gothic_medium", helvetica, sans-serif;
}
#ncp_body h2{
	margin: 0 3.125% 18px; /*--20px--*/
	text-align: center;
	font-weight: bold;
	font-size: 2.8em;
}
#ncp_body h3{
	margin: 0 3.125% 13px; /*--20px--*/
	text-align: center;
	font-size: 1.7em;
}
#ncp_by{
	margin-left: 3.125%; /*--20px--*/
}
#ncp_body a, #ncp_body a:hover, #ncp_body figcaption, #ncp_body figcaption a, #ncp_body figcaption a:hover, #ncp_article, #ncp_src a, #ncp_src a:hover, #reseller_ad h2 a, #reseller_ad h2 a:hover{
	font-family: "franklin_gothic_book", helvetica, sans-serif;
}
#ncp_body a{
	text-decoration: none;
	color: #526d45;
	font-size: 1.8em;
}
#ncp_body a:hover{
	text-decoration: none;
	color: #d32f27;
	font-size: 1.8em;
}
#ncp_body figure{
	float: right;
	margin: 8px 3.125% 8px 1.25%; /*--20px 8px--*/
}


#ncp_body figcaption{
	font-weight: lighter;
	font-size: 1.1em;
	margin-top: 3px;
	text-align: right;
}
#ncp_body figcaption a{
	text-decoration: none;
	color: #526d45;
	font-weight: lighter;
	font-size: 1.1em;
}
#ncp_body figcaption a:hover{
	text-decoration: none;
	color: #d32f27;
	font-weight: lighter;
	font-size: 1.1em;
}
#ncp_article{
	margin: 0 3.125%; /*--20px--*/
	font-size: 1.5em;
}
#ncp_article p{
	margin-bottom: 0;
}
#ncp_article #pquote1{
	float: left;
	width: 37.1875%; /*--238px--*/
	background: rgba(243,243,236,.6);
	padding: 5px .78125%; /*--5px--*/
	margin: 20px 3.125% 3px .3125%; /*--20px 2px--*/
	overflow: hidden;
	box-shadow: 0 0 5px rgba(243,243,236,.6);
	quotes: "\201C" "\201D";
}
#ncp_article #pquote1:before{
	content: open-quote;
	font-size: 5em;
	color: #beb295;
	float: left;
	margin: -8px 0 0 0;
}
/*#ncp_article #pquote1:after{
	content: close-quote;
	font-size: 50px;
	color: #beb295;
	float: right;
	margin: -28px -78px 0 0;
}   =========Use at clients discretion=======*/
#ncp_article #pquote1 p{
	margin: 0 0 0 14.70588235%; /*--35px--*/
	padding: 0;
	color: #B7806C;
}
#ncp_article #pquote1 #quotee{
	float: right;
	margin-top: 8px;
	font-weight: bold;
}
#ncp_src{
	margin: 20px 3.90625% 0 0; /*--25px--*/
	float: right;
}
#ncp_src a{
	text-decoration: none;
	color: #526d45;
	font-size: 1.8em;
}
#ncp_src a:hover{
	text-decoration: none;
	color: #d32f27;
	font-size: 1.8em;
}
#ncp_bottom{
	width: 66.6666666667%; /*--640px--*/
	height: 73px;
	margin: 0 1.041666667%; /*--10px--*/
	background: url(../images/ncp_bottom.jpg);
	background-repeat: no-repeat;
	background-size: 100% 73px;
	float: left;
}
#reseller_ad{
	width: 30.208333333333%; /*--290px--*/
	margin: 0 5px 0 0;
	background: #c2b69a;
	position: absolute;
	top: 225px;
	right: 5px;
	z-index: -1;
}
#reseller_ad h2{
	margin: 0;
	padding: 15px 0 18px 5.17241379%; /*--15px--*/
	background: #beb295;
}
#reseller_ad h2 a{
	text-decoration: none;
	color: #526d45;
	font-weight: bolder;
	font-size: 2em;
}
#reseller_ad h2 a:hover{
	text-decoration: none;
	color: #d32f27;
	font-weight: bolder;
	font-size: 2em;
}
#reseller_ad .resellers_img{
	float: left;
	margin: 10px 0 10px 17.24137931%; /*--50px--*/ 
}
#reseller_ad .resellers_img #oldworldimg{
	float: left;
	margin: 10px 0 10px 20%; /*--58px--*/
}



/*-----Products-----*/

#products_content h2{
	margin-left: 10px;
	font-size: 2.5em;
}
.products{
	width: 97.9166666667%; /*--940px--*/
	float: left;
	overflow: hidden;
	margin: 10px 1.0416666667%; /*--10px--*/
}
.products img{
	width: 20.833333333333%; /*--200px--*/
	height: 200px;
	float: left;
}
.products h3{
	float: left;
	margin: 5px 0 8px 1.06382979%; /*--10px--*/
	font-size: 2em;
}
.products .ingredients{
	float: left;
	margin: 27px 0 0 -18.08510638%; /*--170px--*/
	font: bold 2em "Open Sans Condensed", sans-serif;
}
.products .ingredients a{
	text-decoration: none;
	color: #526d45;
}
.products .ingredients a:hover{
	color: #d32f27;
}

.modal_outer{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background: gray;
	background: rgba(0,0,0,.75);
}
.modal_outer:target{
	display: block;
}
#ingredients_modal{
	background: url(../images/extra_clean_paper_@2X.jpg);
	width: 46.875%; /*--450px--*/
	padding: 20px 2.083333333%; /*--20px--*/
	margin: 90px auto 40px;
	border: 2px solid #333;
	position: relative;
	top: 100px;
	left: 0;
	z-index: 6000;
	visibility: visible;
	display: block;
}
#ingredients_modal p{
	font-size: 1.5em;
}
#ingredients_modal a{
	display: block;
	text-decoration: none;
	font-size: 1.8em;
	margin: 15px 0 0 2.083333333%; /*--20px--*/
}
.products .description{
	float: left;
	width: 76.041666666667%; /*--730px--*/
	margin: -130px 0 0 22.55319149%; /*--212px--*/
	font-size: 1.4em;
}

/*-----Resellers-----*/

#resellers h2{
	font-size: 2.5em;
	margin-left: 1.041666666667%;
}
#resellers p strong{
	font-size: 1.8em;
	margin-left: 2.60416666667%;
}
#resellers_map{
	width: 40.625%;
	height: 300px;
	float: right;
}
#resellers .resellers_img{
	display: block;
	width: 29.166666667%; /*--280px---*/
}
#resellers section img{
	margin: 25px 5.35714286%; /*--15px--*/
	float: left;
	clear: left;
}
.resellers_info{
	width: 33.33333333333%; /*--320--*/
	float: left;
	margin: 3px 0 0 .8333333333%; /*--8px--*/
}
#Old_World_Food .resellers_info{
	width: 33.33333333333%; /*--320px--*/
	float: left;
	margin: 3px 0 0 7.8125%; /*---75px--*/
}
#Steves_Meats .resellers_img{
	margin-bottom: 20px;
}
.resellers_info h3{
	font-size: 1.8em;
	margin-bottom: 8px;
}
.resellers_info h3 a{
	text-decoration: none;
	color: #526d45;
}
.resellers_info h3 a:hover{
	text-decoration: none;
	color: #d32f27;
}
.resellers_info address{
	font-size: 1.7em;
}

/*-----Reviews-----*/

.review_form{
	margin: 20px 0 0 0;
}
#review_form{
	float: left;
	overflow: hidden;
	width: 46.875%; /*--450px--*/
	margin: 0 0 0 5.208333333%; /*--50px--*/
	background: rgba(243,243,236,.5);
}
#review_form #reqmes{
	margin: 0 0 15px 34.44444444%; /*--155px--*/
	font: 1em helvetica, sans-serif;
	color: #d32f27;
}
#review_form .reqpar{
	font: 1.7em "Sintony", sans-serif;
	color: #d32f27;
}
#review_form .revlabel{
	display: block;
	width: 20%; /*--90px--*/
	text-align: right;
}
#review_form .revinput, #review_form textarea{
	float: left;
	margin: -21px 0 14px 34.44444444%; /*--155px--*/
}
#review_form #name, #review_form #email{
	width: 55.555555556%; /*--250px--*/
}
#review_form #message{
	width: 56.222222222%; /*--253px--*/
}
#review_form .req{
	font: 1.7em "Sintony", sans-serif;
	color: #d32f27;
	float: left;
	margin: -25px 0 0 .8888888889%; /*--4px--*/
}
#review_form #post{
	display: block;
	width: 20%; /*--90px--*/
	height: 30px;
	margin: 30px 0 0 71.111111111%; /*--320px--*/
	border-radius: 8px;
	background-color: #B00000;
	border: 1px solid #7F0000;
	color: #FFF;
	text-shadow: 1px 1px 4px #000;
}
#review_form #post:hover{
	background-color:#800000;
}
.review_form #review_form .stars{
	clear: both;
	margin: -53px 0 0 34.44444444%; /*--155px--*/
}
.reviews{
	/*overflow: scroll;*/
	width: 46.875%; /*--450px--*/
	/*height: 475px;*/
	float: right;
	margin: 0 1.041666667% 0 0; /*--10px--*/
}
.reviews ul{
	list-style: none;
	padding: 0;
	overflow: hidden;
}
.reviews .name{
	font: bolder 1.8em helvetica, sans-serif;
	float: left;
}
.reviews .date{
	font: lighter 1.3em helvetica, sans-serif;
	float: left;
	margin: 2px 0 0 1.777777778%; /*--8px--*/
}
.reviews .comment{
	font-size: 1.5em;
	clear: both;
	margin: 5px 1.11111111% 5px 2.222222222%; /*--5px 10px--*/
}

/*-----Contact-----*/

#contact_form{
	overflow: hidden;
	float: left;
	width: 52.08333333333%; /*--500px--*/
	margin: 0 0 0 5.208333333%; /*--50px--*/
	background: rgba(243,243,236,.5);
}
#contact_form h2{
	margin: 18px 0 0 0;
	font: 2.5em helvetica, sans-serif;
}
#contact_form p{
	margin: 9px 0 10px 2%; /*--10px--*/
	font: 1.3em helvetica, sans-serif;
}
#contact_form #reqmes{
	margin: 0 0 8px 31%; /*--155px--*/
	font: 1em helvetica, sans-serif;
	color: #d32f27;
}
#contact_form .reqpar{
	font: 1.7em "Sintony", sans-serif;
	color: #d32f27;
}
#contact_form label{
	display: block;
	width: 18%; /*--90px--*/
	text-align: right;
	font-size: 1.4em;
}
#contact_form input, #contact_form select, #contact_form textarea{
	float: left;
	margin: -21px 0 14px 31%; /*--155px--*/
}
#contact_form #fname, #contact_form #lname, #contact_form #address1, #contact_form #city, #contact_form #email{
	width: 50%; /*--250px--*/
}
#contact_form #tel{
	width: 27%; /*--135px--*/
}
#contact_form #address2{
	width: 50%; /*--250px--*/
	margin-top: -14px;
}
#contact_form #message{
	width: 50.6%; /*--253px--*/
}
#contact_form .req{
	font: 1.7em "Sintony", sans-serif;
	color: #d32f27;
	float: left;
	margin: -25px 0 0 .8%; /*--4px--*/
}
#contact_form #reset{
	width: 16%; /*--80--*/
	margin: 40px 0 0 49%; /*--245px--*/
	font: 1.1em helvetica, sans-serif;
}
#contact_form #submit{
	width: 18%; /*--90px--*/
	height: 30px;
	margin: -20px 0 0 64%; /*--320px--*/
	border-radius: 8px;
	background-color: #B00000;
	border: 1px solid #7F0000;
	color: #FFF;
	text-shadow: 1px 1px 4px #000;
}
#contact_form #submit:hover{
	background-color:#800000;
}
#bottle{
	float: right;
	width: 31.25%; /*--300px--*/
	margin: 0 5.208333333% 0 0; /*--50px--*/
}

/*-----Footer-----*/

.push{
	height: 50px;
}
footer{
	height: 50px;
	width: 93.75%; /*--960px--*/
	overflow: hidden;
	clear: both;
	margin: 50px auto 0;
	background: url(../images/footer.jpg);
	box-shadow: 0 -2.5px 10px #282828;
	background-size: 100% 50px;
}
footer #copyright{
	float: left;
	margin: 7px 0 0 .52083333%; /*--5px--*/
	vertical-align: middle;
	font-size: 1.2em;
}
footer #created_by{
	float: left;
	margin: 32px 0 0 -24.479166667%; /*--235px--*/
	font-size: 1.2em;
}
footer ul{
	width: 31.25%; /*--300px--*/
	list-style: none;
	padding: 0;
	float: right;
	overflow: hidden;
	margin: 3px .3125% 0 0; /*--3px--*/
}
footer ul li{
	float: right;
	margin: 0 .3125%; /*--3px--*/
	font: 1.6em "Open Sans Condensed", sans-serif;
}
footer ul li a{
	text-decoration: none;
	color: #526d45;
}
footer ul li a:hover{
	color: #d32f27;
}





@media only screen and (max-width: 321px) {
	/*-----General-----*/
	
	.wrapper{
		margin: 0 auto -31px;
	}

	/*-----Header-----*/

	h1{
		background: url(../images/header_sm.jpg);
		height: 100px;
		background-size: 100% 100px;
	}
	#ppb img{
		height: 18px;
		top: 6px;
	}

	/*-----Nav-----*/

	nav ul li a{
		font-size: 1.3em;
	}
	nav ul li a:hover{
		font-size: 1.3em;
	}
	#navl{
		width: 49.5%;
		margin: -21px 0 0 0;
	}
	#navr{
		width: 49.5%;
		margin: -21px 0 0 0;
	}
	#navl li{
		margin: 0 6.9%;
	}
	#navr li{
		margin: 0 5.1%;
	}

	/*-----Home-----*/

	#img{
		height: 150px;
		background-size: 100% 150px;
	}
	#letter{
		width: 97.9166666667%; /*--940px--*/
		margin: 3px auto;
		background-size: 100% 850px;
	}
	#pin_left, #pin_right{
		height: 30px;
		background-size: 100% 30px;
	}
	#letterbod{
		font-size: 1.5em;
		margin-bottom: 0;
	}
	#letterbod #sign{
		font-size: 1em;
		margin: -7px 3% 5px 0;
		padding-bottom: 20px;
	}
	.fb_comments{
		width: 97.9166666667%; /*--940px--*/
		background: url(../images/fb_comments-sm.jpg);
		height: 205px;
		background-size: 100% 205px;
		background-repeat: no-repeat;
	}

	/*-----News-----*/

	#ncp_top, #ncp_body, #ncp_bottom{
		float: left;
		width: 97.9166666667%; /*--940px--*/
		margin: 0 auto;
	}
	#reseller_ad{
		display: none;
	}

	/*-----Products-----*/

	.products img{
		width: 40%;
		height: 120px;
	}
	.products h3{
		float: left;
		margin: 5px 0 5px 3.125%; /*--10px--*/
		font-size: 1.7em;
	}
	.products .ingredients{
		margin: 0 0 10px 3.125%; /*--10px--*/
		font: bold 1.6em "Open Sans Condensed", sans-serif;
	}
	#ingredients_modal{
		width: 97%;
	}
	#ingredients_modal p{
		font-size: 1.5em;
		margin: 0 0 0 3.125%;
	}
	.products .description{
		float: left;
		width: 55%;
		margin: 0 0 0 3.125%;
		font-size: 1.4em;
	}

	/*-----Resellers-----*/

	#resellers h2{
		font-size: 2.3em;
		margin: 15px 0 10px 1.041666666667%;
	}
	#resellers p strong{
		font-size: 1em;
	}
	#resellers_map{
		float: none;
		width: 97.9166666667%; /*--940px--*/
	}
	#resellers .resellers_img{
		display: block;
		width: 97.9166666667%; /*--940px--*/
		margin: 30px auto 0;
	}
	#resellers section img{
		display: block;
		float: none;
		margin: 0 auto;
		padding: 0;
	}
	.resellers_info{
		width: 97.9166666667%; /*--940px--*/
		float: none;
		margin: 0 auto; /*--8px--*/
		text-align: center;
	}
	#Old_World_Food .resellers_info{
		width: 97.9166666667%; /*--940px--*/
		float: none;
		margin: 0 auto; /*---75px--*/
	}
	#Steves_Meats .resellers_img{
		margin-bottom: 5px;
	}
	.resellers_info h3{
		font-size: 1.8em;
		margin-bottom: 8px;
	}
	.resellers_info h3 a{
		text-decoration: none;
		color: #526d45;
		margin-top: 3px;
	}
	.resellers_info h3 a:hover{
		text-decoration: none;
		color: #d32f27;
		margin-top: 3px;
	}
	.resellers_info address{
		font-size: 1.7em;
	}

	/*-----Reviews-----*/

	#review_form{
		width: 97.9166666667%; /*--940px--*/
		margin: 0 0 0 5.208333333%; /*--50px--*/
	}
	#review_form div{
		margin: 15px 0;
	}
	.reviews{
		width: 97.9166666667%; /*--940px--*/
		clear: both;
		float: left;
		margin: 0 1.041666667% 0 0; /*--10px--*/
	}
	#review_form input{
		height: 23px;
	}
	#review_form textarea{
		height: 50px;
	}

	/*-----Contact-----*/

	#contact_form{
		width: 97.9166666667%; /*--940px--*/
		margin: 0 0 0 5.208333333%; /*--50px--*/
	}
	#contact_form p{
		margin: 9px 0 10px 0;
		font: 1em helvetica, sans-serif;
	}
	#contact_form label{
		font-size: 1em;
	}
	#contact_form input{
		height: 23px;
	}
	#contact_form textarea{
		height: 50px;
	}
	#bottle{
		display: none;
	}

	/*-----Footer-----*/

	.push{
		height: 80px;
	}
	footer{
		height: 80px;
		margin: 80px auto 0;
		background: url(../images/footer.jpg);
		background-size: 100% 80px;
	}
	footer #copyright{
		margin: 7px 0 0 .52083333%; /*--5px--*/
		font-size: 1em;
	}
	footer #created_by{
		margin: 5px 0 0 .52083333%;
		font-size: 1em;
	}
	footer ul{
		width: 97.9166666667%; /*--940px--*/
		margin: 15px .52083333% 0 0; /*--5px--*/
	}
	footer ul li{
		margin: 0 .5%;
	}
}

@media only screen and (min-width: 322px) and (max-width: 480px) {
	/*-----General-----*/

	.wrapper{
		margin: 0 auto -47px;
	}

	/*-----Header-----*/

	h1{
		background: url(../images/header_sm.jpg);
		height: 105px;
		background-size: 100% 105px;
	}
	#ppb img{
		height: 26px;
		top: 9px;
	}

		/*-----Nav-----*/

	nav ul li a{
		font-size: 1.4em;
	}
	nav ul li a:hover{
		font-size: 1.4em;
	}
	#navl{
		width: 49.5%;
		margin: -23px 0 0 0;
	}
	#navr{
		width: 49.5%;
		margin: -23px 0 0 0;
	}
	#navl li{
		margin: 0 6.3%;
	}
	#navr li{
		margin: 0 4%;
	}

	/*-----Home-----*/

	#img{
		height: 225px;
		background-size: 100% 225px;
	}
	#letter{
		width: 97.9166666667%; /*--940px--*/
		margin: 3px auto;
		background-size: 100% 850px;
	}
	#pin_left, #pin_right{
		height: 30px;
		background-size: 100% 30px;
	}
	#letterbod{
		font-size: 1.5em;
		margin-bottom: 0;
	}
	#letterbod #sign{
		font-size: 1em;
		margin: -7px 3% 5px 0;
		padding-bottom: 20px;
	}
	.fb_comments{
		width: 97.9166666667%; /*--940px--*/
		background: url(../images/fb_comments-sm.jpg);
		height: 256px;
		background-size: 100% 256px;
		background-repeat: no-repeat;
	}

	/*-----News-----*/

	#ncp_top, #ncp_body, #ncp_bottom{
		float: left;
		width: 97.9166666667%; /*--940px--*/
		margin: 0 auto;
	}
	#reseller_ad{
		display: none;
	}

	/*-----Products-----*/

	.products img{
		width: 40%;
		height: 120px;
	}
	.products h3{
		float: left;
		margin: 5px 0 5px 3.125%; /*--10px--*/
		font-size: 1.7em;
	}
	.products .ingredients{
		margin: 0 0 10px 3.125%; /*--10px--*/
		font: bold 1.6em "Open Sans Condensed", sans-serif;
	}
	#ingredients_modal{
		width: 97%;
	}
	#ingredients_modal p{
		font-size: 1.5em;
		margin: 0 0 0 3.125%;
	}
	.products .description{
		float: left;
		width: 55%;
		margin: 0 0 0 3.125%;
		font-size: 1.4em;
	}

	/*-----Resellers-----*/

	#resellers h2{
		font-size: 2.3em;
		margin: 15px 0 10px 1.041666666667%;
	}
	#resellers p strong{
		font-size: 1em;
	}
	#resellers_map{
		float: none;
		width: 97.9166666667%; /*--940px--*/
	}
	#resellers .resellers_img{
		display: block;
		width: 97.9166666667%; /*--940px--*/
		margin: 30px auto 0;
	}
	#resellers section img{
		display: block;
		float: none;
		margin: 0 auto;
		padding: 0;
	}
	.resellers_info{
		width: 97.9166666667%; /*--940px--*/
		float: none;
		margin: 0 auto; /*--8px--*/
		text-align: center;
	}
	#Old_World_Food .resellers_info{
		width: 97.9166666667%; /*--940px--*/
		float: none;
		margin: 0 auto; /*---75px--*/
	}
	#Steves_Meats .resellers_img{
		margin-bottom: 5px;
	}
	.resellers_info h3{
		font-size: 1.8em;
		margin-bottom: 8px;
	}
	.resellers_info h3 a{
		text-decoration: none;
		color: #526d45;
		margin-top: 3px;
	}
	.resellers_info h3 a:hover{
		text-decoration: none;
		color: #d32f27;
		margin-top: 3px;
	}
	.resellers_info address{
		font-size: 1.7em;
	}

	/*-----Reviews-----*/

	#review_form{
		width: 97.9166666667%; /*--940px--*/
		margin: 0 0 0 5.208333333%; /*--50px--*/
	}
	#review_form div{
		margin: 15px 0;
	}
	.reviews{
		width: 97.9166666667%; /*--940px--*/
		clear: both;
		float: left;
		margin: 0 1.041666667% 0 0; /*--10px--*/
	}
	#review_form input{
		height: 23px;
	}
	#review_form textarea{
		height: 50px;
	}

	/*-----Contact-----*/

	#contact_form{
		width: 97.9166666667%; /*--940px--*/
		margin: 0 0 0 5.208333333%; /*--50px--*/
	}
	#contact_form p{
		margin: 9px 0 10px 0;
		font: 1em helvetica, sans-serif;
	}
	#contact_form label{
		font-size: 1em;
	}
	#contact_form input{
		height: 23px;
	}
	#contact_form textarea{
		height: 50px;
	}
	#bottle{
		display: none;
	}

	/*-----Footer-----*/

	.push{
		height: 80px;
	}
	footer{
		height: 80px;
		margin: 80px auto 0;
		background: url(../images/footer.jpg);
		background-size: 100% 80px;
	}
	footer #copyright{
		margin: 7px 0 0 .52083333%; /*--5px--*/
		font-size: 1em;
	}
	footer #created_by{
		margin: 5px 0 0 .52083333%;
		font-size: 1em;
	}
	footer ul{
		width: 97.9166666667%; /*--940px--*/
		margin: 15px .52083333% 0 0; /*--5px--*/
	}
	footer ul li{
		margin: 0 .5%;
	}
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
	/*-----General-----*/
	.wrapper{
		margin: 0 auto -59px;
	}

	/*-----Header-----*/
	h1{
		background: url(../images/header_sm.jpg);
		height: 131px;
		background-size: 100% 131px;
	}
	#ppb img{
		height: 33px;
		top: 12px;
	}

		/*-----Nav-----*/

	nav ul li a{
		font-size: 1.8em;
	}
	nav ul li a:hover{
		font-size: 1.8em;
	}
	#navl{
		width: 49.5%;
		margin: -30px 0 0 0;
	}
	#navr{
		width: 49.5%;
		margin: -30px 0 0 0;
	}
	#navl li{
		margin: 0 7.4%;
	}
	#navr li{
		margin: 0 5.7%;
	}

	/*-----Home-----*/

	#img{
		height: 150px;
		background-size: 100% 150px;
	}
	#letter{
		width: 97.9166666667%; /*--940px--*/
		margin: 3px auto;
		background-size: 100% 850px;
	}
	#pin_left, #pin_right{
		height: 30px;
		background-size: 100% 30px;
	}
	#letterbod{
		font-size: 1.5em;
		margin-bottom: 0;
	}
	#letterbod #sign{
		font-size: 1em;
		margin: -7px 3% 5px 0;
		padding-bottom: 20px;
	}
	.fb_comments{
		width: 97.9166666667%; /*--940px--*/
		background: url(../images/fb_comments-sm.jpg);
		height: 310px;
		background-size: 100% 310px;
		background-repeat: no-repeat;
	}

	/*-----News-----*/

	#ncp_top, #ncp_body, #ncp_bottom{
		float: left;
		width: 97.9166666667%; /*--940px--*/
		margin: 0 auto;
	}
	#reseller_ad{
		display: none;
	}

	/*-----Products-----*/

	.products img{
		width: 40%;
		height: 120px;
	}
	.products h3{
		float: left;
		margin: 5px 0 5px 3.125%; /*--10px--*/
		font-size: 1.7em;
	}
	.products .ingredients{
		margin: 0 0 10px 3.125%; /*--10px--*/
		font: bold 1.6em "Open Sans Condensed", sans-serif;
	}
	#ingredients_modal{
		width: 97%;
	}
	#ingredients_modal p{
		font-size: 1.5em;
		margin: 0 0 0 3.125%;
	}
	.products .description{
		float: left;
		width: 55%;
		margin: 0 0 0 3.125%;
		font-size: 1.4em;
	}

	/*-----Resellers-----*/

	#resellers h2{
		font-size: 2.3em;
		margin: 15px 0 10px 1.041666666667%;
	}
	#resellers p strong{
		font-size: 1em;
	}
	#resellers_map{
		float: none;
		width: 97.9166666667%; /*--940px--*/
	}
	#resellers .resellers_img{
		display: block;
		width: 97.9166666667%; /*--940px--*/
		margin: 30px auto 0;
	}
	#resellers section img{
		display: block;
		float: none;
		margin: 0 auto;
		padding: 0;
	}
	.resellers_info{
		width: 97.9166666667%; /*--940px--*/
		float: none;
		margin: 0 auto; /*--8px--*/
		text-align: center;
	}
	#Old_World_Food .resellers_info{
		width: 97.9166666667%; /*--940px--*/
		float: none;
		margin: 0 auto; /*---75px--*/
	}
	#Steves_Meats .resellers_img{
		margin-bottom: 5px;
	}
	.resellers_info h3{
		font-size: 1.8em;
		margin-bottom: 8px;
	}
	.resellers_info h3 a{
		text-decoration: none;
		color: #526d45;
		margin-top: 3px;
	}
	.resellers_info h3 a:hover{
		text-decoration: none;
		color: #d32f27;
		margin-top: 3px;
	}
	.resellers_info address{
		font-size: 1.7em;
	}

	/*-----Reviews-----*/

	#review_form{
		width: 97.9166666667%; /*--940px--*/
		margin: 0 0 0 5.208333333%; /*--50px--*/
	}
	#review_form div{
		margin: 15px 0;
	}
	.reviews{
		width: 97.9166666667%; /*--940px--*/
		clear: both;
		float: left;
		margin: 0 1.041666667% 0 0; /*--10px--*/
	}
	#review_form input{
		height: 23px;
	}
	#review_form textarea{
		height: 50px;
	}

	/*-----Contact-----*/

	#contact_form{
		width: 97.9166666667%; /*--940px--*/
		margin: 0 0 0 5.208333333%; /*--50px--*/
	}
	#contact_form p{
		margin: 9px 0 10px 0;
		font: 1em helvetica, sans-serif;
	}
	#contact_form label{
		font-size: 1em;
	}
	#contact_form input{
		height: 23px;
	}
	#contact_form textarea{
		height: 50px;
	}
	#bottle{
		display: none;
	}

	/*-----Footer-----*/

	.push{
		height: 80px;
	}
	footer{
		height: 80px;
		margin: 80px auto 0;
		background: url(../images/footer.jpg);
		background-size: 100% 80px;
	}
	footer #copyright{
		margin: 7px 0 0 .52083333%; /*--5px--*/
		font-size: 1em;
	}
	footer #created_by{
		margin: 5px 0 0 .52083333%;
		font-size: 1em;
	}
	footer ul{
		width: 97.9166666667%; /*--940px--*/
		margin: 15px .52083333% 0 0; /*--5px--*/
	}
	footer ul li{
		margin: 0 .5%;
	}
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
	/*-----General-----*/
	.wrapper{
		margin: 0 auto -78px;
	}
	h1{
		height: 174px;
		background-size: 100% 174px;
	}
	#ppb img{
		height: 44px;
		top: 16px;
	}

		/*-----Nav-----*/

	nav ul li a{
		font-size: 2.2em;
	}
	nav ul li a:hover{
		font-size: 2.2em;
	}
	#navl{
		margin: -40px 0 0 0;
	}
	#navr{
		margin: -40px 0 0 0;
	}
	#navl li{
		margin: 0 5%;
	}
	#navr li{
		margin: 0 2.5%;
	}

	/*-----Home-----*/

	#img{
		height: 150px;
		background-size: 100% 150px;
	}
	#letter{
		width: 97.9166666667%; /*--940px--*/
		margin: 3px auto;
		background-size: 100% 850px;
	}
	#pin_left, #pin_right{
		height: 30px;
		background-size: 100% 30px;
	}
	#letterbod{
		font-size: 1.5em;
		margin-bottom: 0;
	}
	#letterbod #sign{
		font-size: 1em;
		margin: -7px 3% 5px 0;
		padding-bottom: 20px;
	}
	.fb_comments{
		width: 97.9166666667%; /*--940px--*/
		background: url(../images/fb_comments-sm.jpg);
		height: 310px;
		background-size: 100% 310px;
		background-repeat: no-repeat;
	}

	/*-----News-----*/

	#ncp_top, #ncp_body, #ncp_bottom{
		float: left;
		width: 97.9166666667%; /*--940px--*/
		margin: 0 auto;
	}
	#reseller_ad{
		display: none;
	}

	/*-----Products-----*/

	.products img{
		width: 40%;
		height: 120px;
	}
	.products h3{
		float: left;
		margin: 5px 0 5px 3.125%; /*--10px--*/
		font-size: 1.7em;
	}
	.products .ingredients{
		margin: 0 0 10px 3.125%; /*--10px--*/
		font: bold 1.6em "Open Sans Condensed", sans-serif;
	}
	#ingredients_modal{
		width: 97%;
	}
	#ingredients_modal p{
		font-size: 1.5em;
		margin: 0 0 0 3.125%;
	}
	.products .description{
		float: left;
		width: 55%;
		margin: 0 0 0 3.125%;
		font-size: 1.4em;
	}

	/*-----Resellers-----*/

	#resellers h2{
		font-size: 2.3em;
		margin: 15px 0 10px 1.041666666667%;
	}
	#resellers p strong{
		font-size: 1em;
	}
	#resellers_map{
		float: none;
		width: 97.9166666667%; /*--940px--*/
	}
	#resellers .resellers_img{
		display: block;
		width: 97.9166666667%; /*--940px--*/
		margin: 30px auto 0;
	}
	#resellers section img{
		display: block;
		float: none;
		margin: 0 auto;
		padding: 0;
	}
	.resellers_info{
		width: 97.9166666667%; /*--940px--*/
		float: none;
		margin: 0 auto; /*--8px--*/
		text-align: center;
	}
	#Old_World_Food .resellers_info{
		width: 97.9166666667%; /*--940px--*/
		float: none;
		margin: 0 auto; /*---75px--*/
	}
	#Steves_Meats .resellers_img{
		margin-bottom: 5px;
	}
	.resellers_info h3{
		font-size: 1.8em;
		margin-bottom: 8px;
	}
	.resellers_info h3 a{
		text-decoration: none;
		color: #526d45;
		margin-top: 3px;
	}
	.resellers_info h3 a:hover{
		text-decoration: none;
		color: #d32f27;
		margin-top: 3px;
	}
	.resellers_info address{
		font-size: 1.7em;
	}

	/*-----Reviews-----*/

	#review_form{
		width: 97.9166666667%; /*--940px--*/
		margin: 0 0 0 5.208333333%; /*--50px--*/
	}
	#review_form div{
		margin: 15px 0;
	}
	.reviews{
		width: 97.9166666667%; /*--940px--*/
		clear: both;
		float: left;
		margin: 0 1.041666667% 0 0; /*--10px--*/
	}
	#review_form input{
		height: 23px;
	}
	#review_form textarea{
		height: 50px;
	}

	/*-----Contact-----*/

	#contact_form{
		width: 97.9166666667%; /*--940px--*/
		margin: 0 0 0 5.208333333%; /*--50px--*/
	}
	#contact_form p{
		margin: 9px 0 10px 0;
		font: 1em helvetica, sans-serif;
	}
	#contact_form label{
		font-size: 1em;
	}
	#contact_form input{
		height: 23px;
	}
	#contact_form textarea{
		height: 50px;
	}
	#bottle{
		display: none;
	}

	/*-----Footer-----*/

	.push{
		height: 80px;
	}
	footer{
		height: 80px;
		margin: 80px auto 0;
		background: url(../images/footer.jpg);
		background-size: 100% 80px;
	}
	footer #copyright{
		margin: 7px 0 0 .52083333%; /*--5px--*/
		font-size: 1em;
	}
	footer #created_by{
		margin: 5px 0 0 .52083333%;
		font-size: 1em;
	}
	footer ul{
		width: 97.9166666667%; /*--940px--*/
		margin: 15px .52083333% 0 0; /*--5px--*/
	}
	footer ul li{
		margin: 0 .5%;
	}
}
@media only screen and (min-width: 801px) and (max-width: 850px) {

	/*-----Nav-----*/
	nav ul li a{
		font-size: 2.1em;
	}
	nav ul li a:hover{
		font-size: 2.1em;
	}
	/*-----News-----*/

	#ncp_top, #ncp_body, #ncp_bottom{
		float: left;
		width: 97.9166666667%; /*--940px--*/
		margin: 0 auto;
	}
	#reseller_ad{
		display: none;
	}

	/*-----Resellers-----*/

	#resellers h2{
		font-size: 2.3em;
		margin: 15px 0 10px 1.041666666667%;
	}
	#resellers p strong{
		font-size: 1em;
	}
	#resellers_map{
		float: none;
		width: 97.9166666667%; /*--940px--*/
	}
	#resellers .resellers_img{
		display: block;
		width: 97.9166666667%; /*--940px--*/
		margin: 30px auto 0;
	}
	#resellers section img{
		display: block;
		float: none;
		margin: 0 auto;
		padding: 0;
	}
	.resellers_info{
		width: 97.9166666667%; /*--940px--*/
		float: none;
		margin: 0 auto; /*--8px--*/
		text-align: center;
	}
	#Old_World_Food .resellers_info{
		width: 97.9166666667%; /*--940px--*/
		float: none;
		margin: 0 auto; /*---75px--*/
	}
	#Steves_Meats .resellers_img{
		margin-bottom: 5px;
	}
	.resellers_info h3{
		font-size: 1.8em;
		margin-bottom: 8px;
	}
	.resellers_info h3 a{
		text-decoration: none;
		color: #526d45;
		margin-top: 3px;
	}
	.resellers_info h3 a:hover{
		text-decoration: none;
		color: #d32f27;
		margin-top: 3px;
	}
	.resellers_info address{
		font-size: 1.7em;
	}

	/*-----Contact-----*/

	#contact_form{
		width: 97.9166666667%; /*--940px--*/
		margin: 0 0 0 5.208333333%; /*--50px--*/
	}
	#contact_form p{
		margin: 9px 0 10px 0;
		font: 1em helvetica, sans-serif;
	}
	#contact_form label{
		font-size: 1em;
	}
	#contact_form input{
		height: 23px;
	}
	#contact_form textarea{
		height: 50px;
	}
	#bottle{
		display: none;
	}

}
@media only screen and (min-width: 851px) and (max-width: 1035px) {
	nav ul li a{
		font-size: 2.5em;
	}
	nav ul li a:hover{
		font-size: 2.5em;
	}
}
